<html>
<head>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  <!--Load the AJAX API-->
</head>

<body>
<%= link_to 'Top Page', root_path %>
<br>

<!--Table and divs that hold the pie charts-->
<table class="columns">
  <tr>
    <td><div id="piechart_div" style="border: 1px solid #ccc"></div></td>
    <td><div id="barchart_div" style="border: 1px solid #ccc"></div></td>
  </tr>
</table>

<%= javascript_include_tag 'partials/google_bar_chart' %>

</body>
</html>